* {
  box-sizing: border-box;
}

.links {
  list-style-type: none;
  text-align: right;
}

.title__activities {
  color: orange;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.button {
  width: 9em;
  border-radius: 0 25px 25px 25px;
  padding: 22px 25px;
  color: #f8f6f6;
  background-color: #ed6436;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 80px;
}

.buttonprincipal {
  align-items: end;
}
.animalView {
  width: 100%;
  height: 100%;
  display: flex;

  border: 1px solid rgb(109, 206, 230);
}

.animalView__photo img {
  height: 90%;
  width: 100%;
  padding: 10px;
}
